*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.conteiner{
    background-color: yellowgreen;
    height: 800px;
    width: 80%;
    margin: 0 auto;
}

.wrapper{
    background-color: dodgerblue;
    height: 800px;
    width: 80%;
}

.inner{
    background-color: brown;
    border:1px solid black;
    color: white;
    text-align: center;
    height: 80px;
    width: 80px;
}

.one{
    position: relative;
    top:15px;
    left: 15px;

}

.two{
    position: fixed;
   right: 0;
   bottom: 0;

}

.three{

}
.four{

}
