.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    min-height: 300px;
    align-items: center;
}

.inner {
    width: 50px;
  
    border: 2px solid red;
    background-color: blueviolet;
    color: white;
    font-size: 2em;
    text-align: center;
    

}

.one{
    align-self: flex-end;

}
.two {
order: 2;
align-self: flex-start;
}

.three {
    order: 1;

}

.four {

}

.five {

}